.containerSingUp {
  width: 500px;
}

.titleSingUp {
  font-size: 32px;
  text-align: left;
  padding: 32px;
}

.formSingUp {
  /* width: 400px; */
}

.formBody {
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.textSingUp {
  font-size: 20px;
  text-align: left;
}

.formSingUpEl {
  text-align: left;
  width: 400px;
  display: flex;
  flex-direction: column;
}

.labelSingUp {
}

.spanSingUp {
}

.inputSingUp {
  border: 1px solid teal;
  height: 40px;
  border-radius: 10px;
  padding-left: 10px;
}

.textErrorSingUp {
  color: red;
}

.divSingUpButton {
  text-align: center;
}

.singUpBtn {
  width: 100px;
  height: 40px;
  border: 1px solid grey;
  background-color: teal;
  color: azure;
}

.inputWrap {
}

.spanSingUpIcons {
  cursor: pointer;
  opacity: 0.6;
  zoom: 1;
  display: inline-block;
  height: 17px;
  width: 17px;
  margin: 0 5px 0 -22px;
  vertical-align: middle;
}
