.containerSingUp {
  width: 500px;
}

.titleSingUp {
  font-size: 32px;
  text-align: left;
  padding: 32px;
}

.formSingUp {
  /* width: 400px; */
}

.formBody {
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.textSingUp {
  font-size: 20px;
  text-align: left;
}

.formSingUpEl {
  text-align: left;
  width: 400px;
  display: flex;
  flex-direction: column;
}

.labelSingUp {
}

.labelSingUpIcons {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.spanSingUp {
}

.inputSingUp {
  border: 1px solid teal;
  height: 40px;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 40px;
  width: 100%;
}

.textErrorSingUp {
  color: red;
}

.divSingUpButton {
  text-align: center;
}

.singUpBtn {
  width: 100px;
  height: 40px;
  border: 1px solid grey;
  background-color: teal;
  color: azure;
}

.inputWrap {
  position: relative;
  width: 100%;
}

.spanSingUpIcons {
}
